# Coding Lab 1
## Variables, Math, Data Types, Functions, and Loops
## Observational Methods
### AST4301, Prof. Fausnaugh
### **Due 2024 Jan 26, Start of Class**

#### To turn this assignment in, fill in your answers directly into this file (in section "5. Questions"). Then right click on 'Coding-Lab-1-Observations.ipynb' in the navigation bar to the left and select "Download". Rename the Downloaded file as 'Coding-Lab-1-Observations-LastName.ipynb`. Then email me the file, Michael.Fausnaugh@ttu.edu.

#### Let me know if you have any technical difficulties, and let me know if you have any questions.

In this coding lab, we will learn some basic Python syntax. We will learn how to define a function, and perform several rounds of large calculations in the blink of an eye.

We will use some of the equations that we went over in class, as a way to practice observational methods.

This Coding Lab assumes you do not have any experience with Python or programming. If you want to skip down to Section 5, that is where the problems begin.

## 1. Variables and Math


You can assign a name to data, in order to reuse the data later. These names are called "variables," and are the way you access the data for future operations. You can name a variable almost anything; the main restrications are (1) the variable cannot start with a number, and (2) the variable cannot have special characters (!,@,#,$, etc.).

Numbers in the variable name after the first letter are OK. Underscores "_" are also OK, and commonly used in python to separate words.

Here are some examples:

In [37]:
a = 100
b =  3.333
sqrt_two = 1.4142135623730951
pi = 3.14
L_sun = 3.8e33

There are a mix of "data types" : `a` is an integer. `L_sun` is an exponent, this is how we specify scientific notation---we've set `L_sun` equal to the solar luminosity, $L_{\odot} = 3.8\times 10^{33}$.

Just to emphasize that we really can name the variables anything, we can also write

In [38]:
my_variable = 1.4142135623730951

The following mathematical operators are available:

- `+` : Addition
- `-` : Subtraction
- `*` : Multiplication
- `/` : Division
- `**`: Exponentiation

You can use these operators like so:

In [39]:
a - b

96.667

In [40]:
a*b

333.3

In [41]:
a**2

10000

In [42]:
pi*a**2

31400.0

Python respects order of operations, but it is best to explicitly specify what you want with parentheses. For example

In [43]:
(a**2)*pi

31400.0

In [44]:
a**(2*pi)

3630780547701.0176

There are more operators available, including logical operators. You can think of these as questions, which the computer will answer:
- `var1 == var2`: `var1` Equal to `var2`?
- `var1 > var2`:  `var1`  Greater than `var2`?
- `var1 >= var2`: `var1` Greater than or equal to `var2`?
- `var1 < var2`:   `var1` Less than `var2`?
- `var1 <=var2`: `var1` Less than or equal to `var2`?

In [45]:
sqrt_two = 1.4142135623730951
my_variable = 1.4142135623730951
sqrt_two == my_variable

True

In [46]:
a = 100
b =  3.333
b > a

False

We can assign variables to the results of expressions:

In [47]:
area = pi*(a**2)
area

31400.0

And we can rename variables at anytime.

In [48]:
b = 3.33
b = pi*(a**2)
b

31400.0

We can even reasign a variable with an expression using itself.

In [49]:
a = 100
area = pi*(a**2)
area = area + area
area

62800.0

## 2. Other Data Types and Containers

Besides numbers, you can assign text and `True`/`False` values to a variable. Text variables are called "strings." Logical variables are called "booleans."

You specify strings with either double or single quotes, as long as they are consistent:

In [50]:
my_message = "Hello World!"
my_message

'Hello World!'

In [51]:
bright_objs = 'The Sun, and Sirius. Planets are also bright.'
bright_objs

'The Sun, and Sirius. Planets are also bright.'

For booleans, you use the keywords `True` and `False`

In [52]:
truth_test = True
truth_test

True

In [53]:
truth_test2 = False
truth_test2

False

There are special data types that can hold multiple variables. These are sometimes referred to as "containers" or "collections." The main ones to be aware of are

- Lists, defined with `[ ]`
- Tuples, defined with `( )`
- Sets, defined with `{ }`
- Dictionaries, defined with `{ <keyword> : data }`

We will only use lists today. You can make a list like this:

In [54]:
a = 100
b = 200
c = 300
pi = 3.14

my_first_list = [a, b, c, pi]
my_first_list

[100, 200, 300, 3.14]

You access elements of the list using an "index." The first element of the list is index 0, the second is index 1, the third is index 2, etc. Note that other programming languages use indices starting at 1.

In anycase, to get an element of the list:

In [55]:
my_first_list[0]

100

In [56]:
my_first_list[3]

3.14

Similar to above, you can replace the element in a list anytime. You can also mix and match data types inside of a list:

In [57]:
my_first_list[2] = "a test string"
my_first_list

[100, 200, 'a test string', 3.14]

An index can be a variable, and you can pass the variable to the list to get an element:

In [58]:
ii = 2
my_first_list[ii]

'a test string'

Python gives an error when you give a list index out of range. This is called an Exception, and is useful for figuring out invalid lines of code. Python is pretty good as far as it goes, it will at least tell you what variable is causing problems (`my_first_list` in this example) and what kind of Exception occured (`IndexError`).

In [59]:
my_first_list[4]

IndexError: list index out of range

## 3. Functions


Everything we have done so far you can also do on a calculator. Programmable and graphing calculators can do some extra things, but you get much more flexibility in a scripting language like Python. One key to doing this is to use a function.

Functions map input to output. Computer scientists borrow a lot of the language from mathematics (set theory), to talk about how functions work, and define what sort of input maps to what sort of output, etc. We don't need anything so complicated here, though it is worth knowing that functions can be thought of in a very general way.

Here is an example of a function that calculates the square of a number:

In [ ]:
def gimme_the_square(argument1):
    output = argument1*argument1
    return output

And you would use this function like this:

In [ ]:
pi = 3.13
gimme_the_square(pi)

9.796899999999999

Here is a function that calculates the product of three numbers:

In [ ]:
def triple_product(arg1,arg2,arg3):
    return arg1*arg2*arg3

a = 12
b = 13
c = 14
triple_product(a,b,c)

2184

In this example, we have 3 inputs, which we call "arguments" of the function.

Notice in the first example, there was an intermediate step where we defined an `output` variable and then returned the `output` variable. This choice is a matter of taste---there are lots of ways to code up a problem to get the right answer, and we would see no differenct if we had just one line, `return argument1*argument1`.  Under the hood, Python allocates some extra memory to store the value of `argument1*argument2` before returning that value. This makes no difference for our code, but in some cases you might want to think about what the computer is actually doing when you assign a variable. But we won't worry about that today.

We can also have a function return multiple values:

In [ ]:
def harmonic_series(arg1):
    return 1./arg1, 1./(2*arg1), 1./(3*arg1)

harmonic_series(10)

(0.1, 0.05, 0.03333333333333333)

Notice that Python packaged the 3 values for us, the `( )` gives us a "tuple." Python is forgiving in this way, but it is always better to be explicit about what you want. In particular, we are focusing on lists today, so we prefer to write this as:

In [ ]:
def harmonic_series(arg1):
    output_as_a_list = [1./arg1, 1./(2*arg1), 1./(3*arg1)]
    return output_as_a_list
    
harmonic_series(10)

[0.1, 0.05, 0.03333333333333333]

If you need the output for later, assign the output to a new variable

In [ ]:
result = harmonic_series(10)
result

[0.1, 0.05, 0.03333333333333333]

Python has a lot of built in functions. You can (and should) read about them here: https://docs.python.org/3/library/functions.html.

Some built-in functions are mathy, like `abs()` (absolute value), `pow()` (for "power", really exponentiation); some are computer science-y, like `repr()`, `globals()`,`locals()`, and `setattr()`. Others are maybe inbetween, but end up just being super convenient. In particular:

- `print(arg1,arg2,...)`: Print the contents of the variables `arg1`,`arg2`,... etc.
- `type` : return the data type of the argument
- `min`,`max`,`len`: get the minimum value of a list, the maximum value of a list, and the number of elements of a list.

`print` is very helpful, since we can now check what is happening in large chunks of code.

In [ ]:
a = 3
b = 4
c = 'blah!'
print(a,b,c)

print('here is a second print statement, which will keep track of where we are in the output.')
print("The area of a circle with radius 2 is:", 3.13*(2**2) )

test_list = [1,2,3,4]
print('min of list:',min( test_list) )
print('max of list:',max( test_list) )
print('number of elements in list:',len( test_list) )

3 4 blah!
here is a second print statement, which will keep track of where we are in the output.
The area of a circle with radius 2 is: 12.52
min of list: 1
max of list: 4
number of elements in list: 4

There is another kind of built-in function. These functions are associated with a data type, and are known as "methods." Methods belong to a data type. If you look at the help page for a `list`, you will see a list of methods: `append`, `extend`, `insert`, etc. I use `append` a lot, and we will need it in the questions:

In [ ]:
a = 100
b = 200
c = 300
pi = 3.14

my_first_list = [a, b, c, pi]
my_first_list.append(400)
print(my_first_list)

[100, 200, 300, 3.14, 400]

So the "append" method adds a new element to the list. The idea of a method has to do with "object oriented programming," which will talk about a little bit in the next lab. Methods are implemented as functions in Python. For now, the main thing to note is that "append" wouldn't make sense on an integer or a boolean. So instead of a general purpose function (like `print`), `append` is associated only with lists so that you can't try something like `10.append(3)`.

## 4. Loops


There is a built-in function called `range`, which will make a sequence of numbers equal to argument. This let's us define "loops", which can be used to do a lot of operations quickly.

We define a loop like this:

In [ ]:
for my_index in range(10):
    print(my_index)

0
1
2
3
4
5
6
7
8
9

`my_index` is a variable, which can be anything. We often will use this variable as an index, and we sometimes reserve `ii`, `jj`, `kk`, etc. to name indices in loops. These characters are easy to find in a text search, and relatively rare in English so won't usually name a variable with `ii` or `jj` in the name.

We can do whatever we want within the loop. For example, you can count up numbers 0 to 1000 like this:

In [ ]:
total_sum = 0
for ii in range(1001):
    total_sum += ii
print(total_sum)

500500

There is an analytic way of calculating this number---can you verify that this result is correct? Note that range returns the **number** of elements equal to the argument, but the **range is from 0 to `arg-1`**.


You can call a function within a loop, or write a loops of loops.

In [ ]:
def quick_square(x):
    return x**2

print('example loop with a function.')
for ii in range(5):
    print('ii is currently:',ii)
    print("it's square is: ",quick_square(ii))


print('example loop of loops')
for ii in range(5):
    for jj in range(3):
        print('input ii:',ii, 'input jj:',jj,'product:',ii*jj)

example loop with a function.
ii is currently: 0
it's square is:  0
ii is currently: 1
it's square is:  1
ii is currently: 2
it's square is:  4
ii is currently: 3
it's square is:  9
ii is currently: 4
it's square is:  16
example loop of loops
input ii: 0 input jj: 0 product: 0
input ii: 0 input jj: 1 product: 0
input ii: 0 input jj: 2 product: 0
input ii: 1 input jj: 0 product: 0
input ii: 1 input jj: 1 product: 1
input ii: 1 input jj: 2 product: 2
input ii: 2 input jj: 0 product: 0
input ii: 2 input jj: 1 product: 2
input ii: 2 input jj: 2 product: 4
input ii: 3 input jj: 0 product: 0
input ii: 3 input jj: 1 product: 3
input ii: 3 input jj: 2 product: 6
input ii: 4 input jj: 0 product: 0
input ii: 4 input jj: 1 product: 4
input ii: 4 input jj: 2 product: 8

Notice how the `print` statements are lined up and indented under the line that starts the loop. The indentation is important---this defines the scope of the loop.

Lastly, you can use the variable sequence from `range` as an index for a list. A very common formula is to define a list, and then run `range` on `len(my_list)`:

In [61]:
a = 100
b = 200
c = 300
pi = 3.14

my_first_list = [a, b, c, pi]

for ii in range(len(my_first_list)):
    print( 'printing out list, element by element in a loop:   ',my_first_list[ii] )

printing out list, element by element in a loop:    100
printing out list, element by element in a loop:    200
printing out list, element by element in a loop:    300
printing out list, element by element in a loop:    3.14

A typical use case might be to load a lot of data from a database into two or three or four lists, and then do calculations on the data:

In [60]:
major_axis = [1.1, 2.2, 3.3, 4.4 ]
minor_axis = [0.1, 0.2, 0.3, 0.4 ]
pi = 3.14159

for ii in range(len( major_axis)):
    major_axis_use = major_axis[ii]
    minor_axis_use = minor_axis[ii]
    area_of_ellipse = pi*major_axis_use*minor_axis_use
    
    print('area of ellipse ', ii,':  ', area_of_ellipse)

area of ellipse  0 :   0.3455749
area of ellipse  1 :   1.3822996
area of ellipse  2 :   3.1101740999999996
area of ellipse  3 :   5.5291984

## 5. Questions

1) Write a function that converts parallax to distance. Assume parallax is in milliarcseconds, and return the distance in parsecs. Test your function by printing the output of your function for the given data.

2) Write a function that takes a distance (in parsecs) and an apparent magnitude, and converts to an absolute magnitude. Test your function by printing the output of your function for the given data. You will need a special function to do base 10 logarithms, which I have set up for you below

3) Write a function that converts an absolute magnitude to luminosity, in units of solar luminosity. Test your function by printing the output of your function for the given data

4) The following code will import data into 4 lists, `bp_rp`, `g_mag`, `parallax`, and `Teff`. Run the code in the cell to populate the lists with data. (By the way, this only works if you upload the file gaiadr3_100k_star_filtered.csv to the same place as this file.)

What just happened? Besides the built-in functions, there are other sets of useful functions out in the world. You have to tell Python that you would like to use these functions, since they aren't loaded by default. This is what `import numpy as np` does. We then use a function from `numpy`, which is called `loadtxt`. The `np.loadtxt` is convenient for remembering where `loadtxt` is from.

Anyway, all that happened was that we found a special function to load in data, helpfully called `loadtxt`. We'll discuss details of loading in data in the next coding lab, but notice that is just a single function call! Hopefully that gives you some idea of how flexible and powerful functions are.

These data are from Gaia DR3---if you open the file in the left-side navigation bar, you will see comments on how I selected them with an SQL query. `bp_rp` and `g_mag` you have seen before (except I named `g_mag` differently in Coding Lab 0). `parallax` and `Teff` are parallax and effective temperature, the quantities we discussed in class.

How many elements are in each list? How many stars does this correspond to?

What is the maximum value of Teff in this list? What is the minimum?

If you convert parallax to distance (in parsecs), what is the closest star in this list? What is the most distant star?

In [ ]:
#Use this cell and built in python functions to inspect the data in the lists.

5) Using the functions you defined in questions 1, 2, and 3, loop through the stars and calculate the absolute magnitude and luminosity for each. I have provided empty lists that you can store the values in, using `append`.

6) To visualize this data, we will use a plotting package called `matplotlib`.  Plotting takes a lot of specialized functions. I've set up a template for you to make the plots.

   For the `plot` function
 Populate the correct variables to make a CMD with absolute G mag as a function of BP-RP color and an HR-Diagram of Luminosity as a function of Temperature.